service: balkonowaochrona

image: regedarek/balkonowaochrona

builder:
  dockerfile: Dockerfile
  arch: arm64

registry:
  server: docker.io
  username: regedarek

retain_containers: 3

servers:
  web:
    hosts:
      - 127.0.0.1

deploy_timeout: 120

proxy:
  ssl: false
  hosts:
    - balkonowaochrona.pl
    - www.balkonowaochrona.pl
    - siatkanakota.pl
    - www.siatkanakota.pl
  app_port: 4001
  healthcheck:
    path: /
    interval: 3
    timeout: 5

env:
  clear:
    NODE_ENV: production
    PORT: 4001
    TO_EMAIL: kalkowski123@gmail.com
    FROM_EMAIL: onboarding@resend.dev
  secret:
    - RESEND_API_KEY

ssh:
  user: rege